.footer {
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-align: center;
  margin-top: 20px;
}
.footer .fText {
    /* align-items: center; */
}
